html, body { /* to make the map fill 100% of the window */
      height: 100%;
      overflow: hidden;
      width: 100%;
      font-family: Simplifica;
      
      }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  border: 1px solid #444;
  background-color: rgba(0,0,0,0.2);
}

.overlay.horizontal-overlay {
  top: 0;
  width: 100%;
}

.overlay.vertical-overlay {
  top: 180px;
  width: 450px;
  height: 100%;
  overflow-y: scroll;

}


#control-panel {
  border: 1px solid #444;
  background-color: rgba(0,0,0,0.2);

}

.slider-container {
padding: 20px;
}

.slider-container input {
background-color: rgba(0,0,0,0.1);
color: white;
border: none;
font-size: 25px;
font-weight: bold;
}

.slider-container label {
font-family: Simplifica;
font-size: 25px;
}

#map {
  width: auto;
  height: 100%;
}
.slider-label {
color: #f6931f;
}

.ui-widget.ui-widget-content{
border: none;
}



.ui-slider-range {
background: #f6931f;
}

@font-face {
font-family: Simplifica;
src: url(simplifica.ttf);
}


@font-face {
font-family: Aqua;
src: url(aqua.ttf);
}

#logo {
font-family: Simplifica;
font-size: 60px;
color: white;
}

.image-entry {
color: white;
padding: 10px;
}

.image-entry img {
max-width: 120px;
align-self: center;
}

.image-entry table {
table-layout: fixed;
}

#images-list ul {
padding: 0;
}

#images-list li {
border-bottom: 1px dashed #444;
list-style-type: none;
}

#images-list li:hover {
background-color: rgba(0,0,0,0.3);
}

.image-entry td {
padding-left: 5px;
padding-right: 5px;
}

.image-entry .label {
color: #f6931f;
font-size: 20px;
font-weight: bold;
}

.image-entry .value {
color: #f6931f;
color: white;
font-size: 20px;
float: left;
font-weight: bold;
}


.leaflet-verticalcenter {
    position: absolute;
    bottom: 100;
    padding-top: 10px;
}
