html, body { /* to make the map fill 100% of the window */
      height: 100%;
      overflow: hidden;
      width: 100%;
      font-family: Simplifica;
      }



.overlay {
  position: absolute;

  z-index: 9999;
    overflow-y: auto;

}

.overlay.vertical-overlay {

  left: 10px;
  top: 10px;
  width: 420px;
  height: 100%;

}

.overlay.legend-overlay {
  position: absolute;
  z-index: 9999;
  top: 10px;
  right: 10px;
}

#legend{
    height: 392px;
}

.list-overlay {
  top: 490px;
  width: 420px;
  height: 390px;
  border: 1px solid #444;
  background-color: rgba(0,0,0,0.25);

}

.tsvi-overlay {
  top: 10px;
  right: 85px;
  width: 400px;
  height: 392px;
  border: 1px solid #444;
  background-color: rgba(0,0,0,0.25);
  overflow: hidden;

}


#control-panel {
  background-color: rgba(0,0,0,0.25);
  border: 1px solid #444;

}

.slider-container {
padding: 0px 20px 20px 20px;;
}

.slider-container input {
background-color: rgba(0,0,0,0);
color: white;
border: none;
width: 200px;
font-size: 20px;
font-weight: bold;
}

.slider-container label {
font-family: Simplifica;
font-size: 20px;
}

#map {
  width: auto;
  height: 100%;
}
.slider-label {
color: #f6931f;
}

.ui-widget.ui-widget-content{
border: none;
}



.ui-slider-range {
background: #f6931f;
}

@font-face {
font-family: Simplifica;
src: url(simplifica.ttf);
}


@font-face {
font-family: Aqua;
src: url(aqua.ttf);
}

#logo {
  font-family: Simplifica;
  font-size: 60px;
  color: white;
  padding: 0px 20px 0px 20px;
}

.image-entry {
  color: white;
  padding: 10px;
}

.image-entry img {
  max-width: 120px;
  align-self: center;
}

.image-entry table {
  table-layout: fixed;
}


#images-list ul {
padding: 0;
}

#images-list li {
border-bottom: 1px dashed #444;
list-style-type: none;
}

#images-list li:hover {
    background-color: rgba(0,0,0,0.3);
}

.image-selected {
    background-color: rgba(0,0,0,0.4);
}

.image-entry td {
padding-left: 5px;
padding-right: 5px;
}

.image-entry .label {
color: #f6931f;
font-size: 20px;
font-weight: bold;
}

.image-entry .value {
color: #f6931f;
color: white;
font-size: 20px;
float: left;
font-weight: bold;
}


.leaflet-verticalcenter {
    position: absolute;
    bottom: 100;
    padding-top: 10px;
}

 /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 800px /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#buttons {
  margin: 0 auto;
  width: 100%}

.text-large {
  padding: 0px 20px 20px 20px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

a:hover {
  color: #f6931f;
}

#url-input {
  font-size: 15px;
  font-weight: bold;
  width: 290px;
}


.btn-left {
  font-size: 15px;
  font-weight: bold;
  width: 80px;
  margin: 10 10;

}

.information {
  color: black;
  font-size: 18px;
  padding: 20px;
}

.howto {
  color: white;
  font-size: 20px;
  padding: 20px;
  font-weight: bold;
}


.area-snapshot-container {
    margin: auto;
    width: 600px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    border: 1px solid red;
}


#area-snapshot {
    max-width:100%;
    height: 100%;
    vertical-align: middle;
}

.bin-icon {
    width:24px;
    height:24px;
    fill:rgba(255,255,255,0.7);
}

.bin-icon:hover {
    fill: rgba(255,255,255,1);

}