{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Satellite Viewer</title>
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href='{% static "style.css" %}'/>
    <script type="text/javascript">
        geoServerUrl = "{{ geoserver_url }}"
    </script>
    <script type='text/javascript' src='{% static "script.js" %}'></script>

</head>

<body>
  <div class="container-fluid">
    <div class="row">
        <div class="overlay horizontal-overlay" id="control-panel">
          <div class="col-sm-3 slider-container">
            <div id="logo">Satellite Viewer</div>
          </div>
          <div class="col-sm-3 slider-container">
            <p>
              <label for="clouds-amount" class="slider-label">Clouds percentage:</label>
              <input type="text" id="clouds-amount" readonly >
            </p>
          <div id="clouds-range"></div>
          </div>            
          <div class="col-sm-3 slider-container">
            <p>
              <label for="data-amount" class="slider-label">Data percentage:</label>
              <input type="text" id="data-amount" readonly >
            </p>
          <div id="data-range"></div>
          </div>
          <div class="col-sm-3 slider-container">
            <p>
              <label for="date-amount" class="slider-label">Date range:</label>
              <input type="text" id="date-amount" readonly >
            </p>
          <div id="date-range"></div>
          </div>
        </div>
    </div>
    <div class="footer">

    <div class="overlay vertical-overlay">
      <div id="images-list">
        
      </div>
        
      </div>
      </div>
    </div>    
    <div id="map"></div>
</body>

</html>
